body{
	background-image: url(https://cdn.hipwallpaper.com/i/52/49/29nhJr.png);
	background-size: cover;
}
h4,h2{
	color: white;
	text-align: center;
}
th{
        color: white;
}
.s{
       color: white;
       background-color: blue;
}
